!!! 5
html.no-js.demo-4(lang='en')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title NW (Node-webkit)
    meta(name='description', content='Bookblock: A Content Flip Plugin - Demo 4')
    meta(name='keywords', content='javascript, jquery, plugin, css3, flip, page, 3d, booklet, book, perspective')
    meta(name='author', content='Codrops')
    link(rel='shortcut icon', href='../favicon.ico')
    link(rel='stylesheet', type='text/css', href='css/default.css')
    link(rel='stylesheet', type='text/css', href='css/bookblock.css')
    //
       custom demo style 
    link(rel='stylesheet', type='text/css', href='css/demo4.css')
    script(src='js/modernizr.custom.js')
    script(src='/socket.io/socket.io.js')
    script(src="http://cdn.peerjs.com/0.3/peer.js")
  body
    .container
      .bb-custom-wrapper
        #bb-bookblock.bb-bookblock
          .bb-item
            .bb-custom-firstpage
              h1
                | NW (Node-webkit)
                span Cesar Tapasco
              img.MyIcon2(src='images/nw.png', alt='')
            .bb-custom-side
              img.MyIcon(src='images/node.png', alt='')
              img(src='images/chrome.png', alt='')
          .bb-item
            .bb-custom-side
              h1
                | Node-webkit
                span Introducción
                img.MyIcon2(src='images/nw.png', alt='')
            .bb-custom-side
              p
                |node-webkit es una app runtime basada en Chromium y node.js. Puedes escribir aplicaciones nativas en html y javascript con node-webkit. Tambien puedes llamar  modulos de Node.js directamente desde el DOM y habilitar una nueva forma de escribir aplicaciones nativas con  todas las tecnologias web.
                br                
                br                
                |Fue creado por Intel Open Source Technology Center.
          .bb-item
            .bb-custom-side
              h1
                | Quick Start (HTML)
            .bb-custom-side
              p Crear index.html
                img(src='images/code.png', alt='')
          .bb-item
            .bb-custom-side
              h1
                | Quick Start (JSON)
            .bb-custom-side
              p Crear package.json
                img(src='images/p.png', alt='')
        nav
          a#bb-nav-first.bb-custom-icon.bb-custom-icon-first(href='#') First page
          a#bb-nav-prev.bb-custom-icon.bb-custom-icon-arrow-left(href='#') Previous
          a#bb-nav-next.bb-custom-icon.bb-custom-icon-arrow-right(href='#') Next
          a#bb-nav-last.bb-custom-icon.bb-custom-icon-last(href='#') Last page
    //
       /container 
    script(src='js/jquery.js')
    script(src='js/jquerypp.custom.js')
    script(src='js/jquery.bookblock.js')
    script(src='js/f.js')